.dashboard-item {
	width: 199px;
	height: 143px;
	padding: 16px;
	background: #1f1d2b;
	border-radius: 8px;
}

.dashboard-item:nth-child(2) {
	margin: 0 24px;
}

.dashboard-item-cost {
	margin: 0;
	margin-bottom: 8px;
	font-weight: 600;
	font-size: 28px;
	line-height: 140%;
	color: #ffffff;
}

.dashboard-item-total {
	margin: 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	color: #abbbc2;
}
