// .list-item {
// 	position: relative;
// 	padding-top: 13px;
// 	padding-bottom: 11px;
// 	padding-left: 12px;
// 	padding-right: 24px;
// 	background-color: darkcyan;
// 	// background: #252836;
// 	border-radius: 12px 0px 0px 12px;
// }

/* .list-item::before {
	position: absolute;
	width: 12px;
	height: 12px;
	right: 0;
	top: -12px;
	background-image: url('../../Assets//Images/Icons/rectangle-top.svg');
	background-repeat: no-repeat;
	content: '';
} */
